@import "~mixin";
@import "./../../common/common.scss";

.Navigation {
  margin-bottom: 5px;
  background-color: #118adc;

  ul {
    @include clearfix;
  }

  li {
    float: left;
    width: 100px;
    line-height: 50px;
    margin-right: 10px;
  }

  a {
    display: inline-block;
    width: $width100;
    height: 100%;
    font-size: 14px;
    color: #fff;
  }

}

.current {
  font-weight: bold;
  text-shadow: 0 0 2px #fff
}