.carousel-box{
  width: 500px;
  height: 300px;
  display:inline-block;
  :global(.ant-carousel .slick-slider){
    padding-bottom:0;
  }
  :global(.ant-carousel .slick-dots li button:before) {
    font-size: 30px;
    color: #5bc0de;
  }
  :global(.ant-carousel .slick-dots li.slick-active button:before) {
    color: #fff;
    opacity: 0.75;
  }
  img{
    width: 100%;
    height: 100%;
  }
}